html, body {
  background-color: #EDEDED;
  font-size: 15px;
  margin: 0;
  padding: 0;
}


h1, h2, h3, ul, ol, li, p {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: #007AC2;
  font-size: 2em;
}
h2 {
  color: #464646;
  font-size: 1.5em;
}
h3 {
  color: #4d4d4d;
  font-size: 1.2em;
}
p {
  color: #4d4d4d;
  font-size: 1em;
}
ul {
  padding-left: 1.2em;
}

a,
a:visited {
  color: #2A7433;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}


#banner {
  background-image: url('http://placehold.it/1600x400/B9E0F7/FFFFFF&text=Image%20Goes%20Here');
  background-position: center center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  height: 400px;
  padding: 5em 0;
  width: 100%;
}
#banner h1 {
  font-size: 3em;
  margin: 0;
}
#banner h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

#content {
  padding: 0 0 2em 0;
}

/* Repo Sections */
.repo-section {
  border: 1px solid #B9E0F7;
  margin: 1em 0;
}
.repo-header {
  background-color: #B9E0F7;
  margin-bottom: 1em;
  padding: 0.5em;
}
.repo-header h2 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
}
.repo-content p {
  font-size: 1em;
  padding: 0.5em;
}
.repo-content p {
  margin: 0 0 0.5em 0;
}
.repo-link {
  color: green;
}


#footer {
  background-color: #464646;
  color: #f3f3ee;
  padding: 2em 0;
  width: 100%;
}
#footer h3 {
  color: #f3f3ee;
  font-weight: normal;
}
#footer li,
#footer p {
  color: #f3f3ee;
  font-size: 0.8em;
}
#footer a {
  color: #f3f3ee;
}
#footer a:hover {
  color: #000;
}



.btn {
  background: #CCC;
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  font-size: 1em;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
}
.btn-blue {
  background: #007ac2;
  color: #FFF;
}
.btn-blue:hover {
  background: #DA4D1E;
}

.btn-left { float: left; }
.btn-right { float: right; }

.btn-small {
  font-size: 0.8em;
  padding: 6px 10px;
}
.btn-large {
  font-size: 1.2em;
  padding: 10px 14px;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}
