  <footer id="footer" class="clearfix">
    <div class="container">
      <div class="grid-25">
        <h3>About Esri</h3>
        <ul>
          <li><a href="//www.esri.com/about-esri">About Us</a></li>
          <li><a href="//www.esri.com/careers">Careers</a></li>
          <li><a href="//blogs.esri.com/esri/esri-insider/">Insiders Blog</a></li>
          <li><a href="//www.esri.com/events/user-conference">Users Conference</a></li>
          <li><a href="//www.esri.com/events/devsummit">Developer Summit</a></li>
        </ul>    
      </div>
      <div class="grid-25">
        &nbsp;   
      </div>
      <div class="grid-25">
        &nbsp;
      </div>
      <div class="grid-25">
        <img src="/img/esri-footer-social.jpg" />
      </div>
      
      <div class="grid-100">
        <p>&copy; Copyright 2010-2012 Environmental Systems Research Institute, Inc. | 
        <a href="//www.esri.com/legal/privacy">Privacy</a> | 
        <a href="//www.esri.com/legal/software-license">Legal</a></p>
      </div>
    </div>
  </footer>