  <footer id="footer" class="clearfix">
    <div class="container">
      <div class="grid-25">
        <h3>About Esri</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Insiders Blog</a></li>
          <li><a href="#">Users Conference</a></li>
          <li><a href="#">Developer Summit</a></li>
        </ul>    
      </div>
      <div class="grid-25">
        <h3>About Esri</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Insiders Blog</a></li>
          <li><a href="#">Users Conference</a></li>
          <li><a href="#">Developer Summit</a></li>
        </ul>    
      </div>
      <div class="grid-25">
        &nbsp;
      </div>
      <div class="grid-25">
        <img src="esri-footer-social.jpg" />
      </div>
      
      <div class="grid-100">
        <p>&copy; Copyright 2010-2012 Environmental Systems Research Institute, Inc. | <a href="#">Privacy</a> | <a href="">Legal</a></p>
      </div>
    </div>
  </footer>