<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
<head>
	<title>GISWebOps - Github</title>

  {% include styles.html %}

</head>
<body>

  {% include header.html %}
	
  <section id="{{ page.section }}" class="clearfix">
    <div class="container">

      {{ content }}    
      
    </div>
  </section>

	{% include footer.html %}
	
</body>
</html>
